In [1]:
import numpy as np
import pandas as pd

In [3]:
df_15=pd.read_csv('./original_data/2015.csv')
df_16=pd.read_csv('./original_data/2016.csv')
df_17=pd.read_csv('./original_data/2017.csv')
df_18=pd.read_csv('./original_data/2018.csv')
df_19=pd.read_csv('./original_data/2019.csv')
df_20=pd.read_csv('./original_data/2020.csv')

In [4]:
df_list=[df_15, df_16, df_17, df_18, df_19, df_20]

De algunos años tenemos más features (o caracteristicas), mientras que de otros años hay menos por ejemplo los años 2019 y 2018 solo tenemos 9 features. Por lo tanto elejimos los features de los años que tienen menos. Y cambiare el nombre de las columnas de los otros data frames para que todos los data frames tengan los mismos nombres. 

Por otro lado voy a ver la correlacion de algunos dataframe para ver si en algun feature me pierdo algo importante.

In [5]:
corr16=df_16.corr() 
corr16.iloc[4:, 2].sort_values(ascending=False) ### Uso 4 y 2 como coordenadas porque a partir de 4:tengo datos interesantes y en 2 está el score, entonces estos son los numeros de correlación entre cada feature y el score de felicidad

## Pasa algo parecido con el año 2015 y 2017, el mismo orden de corr, y distopia residual

Economy (GDP per Capita)         0.790673
Health (Life Expectancy)         0.769177
Family                           0.741523
Freedom                          0.566857
Dystopia Residual                0.538793
Trust (Government Corruption)    0.404840
Generosity                       0.158025
Name: Lower Confidence Interval, dtype: float64

In [6]:
corr19=df_19.corr()
corr19.iloc[2:,1].sort_values(ascending=False)

##podemos ver que tenemos casi el mismo orden de correlacion con respecto al año 2016. Y se cambio el concepto de family por social support que pensandolo bien, me parece mucho más acertado. Vamos a eleminar el concepto de dystopia residual. 

## El año 2018 también tiene el mismo orden de correlaciones y no dystopia residual

GDP per capita                  0.793883
Healthy life expectancy         0.779883
Social support                  0.777058
Freedom to make life choices    0.566742
Perceptions of corruption       0.385613
Generosity                      0.075824
Name: Score, dtype: float64

In [7]:
corr20=df_20.corr()
corr20.iloc[4:,0].sort_values(ascending=False)

Logged GDP per capita                         7.753744e-01
Explained by: Log GDP per capita              7.753744e-01
Healthy life expectancy                       7.703163e-01
Explained by: Healthy life expectancy         7.703163e-01
Social support                                7.650008e-01
Explained by: Social support                  7.650008e-01
Explained by: Freedom to make life choices    5.905968e-01
Freedom to make life choices                  5.905968e-01
Dystopia + residual                           4.802789e-01
Explained by: Perceptions of corruption       4.183051e-01
Explained by: Generosity                      6.904313e-02
Generosity                                    6.904313e-02
Ladder score in Dystopia                      2.761262e-15
Perceptions of corruption                    -4.183051e-01
Name: Ladder score, dtype: float64

In [8]:
#Como se puede ver es un problema tener features que no se usara y además que cada data frame tiene distintos nombres de features así que voy a cambiar los nombres y a eliminar los features que no nos sirven. 
for i in range(len(df_list)):
    print(df_list[i].shape)
    print(df_list[i].columns)

(158, 12)
Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')
(157, 13)
Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')
(155, 12)
Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')
(156, 9)
Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')
(156, 9)
Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')
(153, 20)
Index(['Country name', 'Regional indicator', 'Ladder score',
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')

In [9]:
Features=['Country', 'Economy', 'Healthy', 'Social', 'Freedom', 'Corruption', 'Generosity']

In [10]:
###TODO obs! Quizas luego tenga que volver a trabajar Country porque aveces se cuenta con datos de más paises y a veces menos. Por otro lado podria ser interesante extrapolar también por regiones. Y más importante, es posible que tengan diferentes nombres por ejemplo United States of America o USA.

In [11]:
df15=pd.DataFrame()
df15[Features[0]]=df_15['Country']
df15[Features[1]]=df_15['Economy (GDP per Capita)']
df15[Features[2]]=df_15['Health (Life Expectancy)']
df15[Features[3]]=df_15['Family']
df15[Features[4]]=df_15['Freedom']
df15[Features[5]]=df_15['Trust (Government Corruption)']
df15[Features[6]]=df_15['Generosity']
df15['Score']=df_15['Happiness Score']
df15

,Country,Economy,Healthy,Social,Freedom,Corruption,Generosity,Score
0,Switzerland,1.39651,0.94143,1.34951,0.66557,0.41978,0.29678,7.587
1,Iceland,1.30232,0.94784,1.40223,0.62877,0.14145,0.43630,7.561
2,Denmark,1.32548,0.87464,1.36058,0.64938,0.48357,0.34139,7.527
3,Norway,1.45900,0.88521,1.33095,0.66973,0.36503,0.34699,7.522
4,Canada,1.32629,0.90563,1.32261,0.63297,0.32957,0.45811,7.427
...,...,...,...,...,...,...,...,...
153,Rwanda,0.22208,0.42864,0.77370,0.59201,0.55191,0.22628,3.465
154,Benin,0.28665,0.31910,0.35386,0.48450,0.08010,0.18260,3.340
155,Syria,0.66320,0.72193,0.47489,0.15684,0.18906,0.47179,3.006
156,Burundi,0.01530,0.22396,0.41587,0.11850,0.10062,0.19727,2.905
157,Togo,0.20868,0.28443,0.13995,0.36453,0.10731,0.16681,2.839

In [12]:
df16=pd.DataFrame()
df16[Features[0]]=df_16['Country']
df16[Features[1]]=df_16['Economy (GDP per Capita)']
df16[Features[2]]=df_16['Health (Life Expectancy)']
df16[Features[3]]=df_16['Family']
df16[Features[4]]=df_16['Freedom']
df16[Features[5]]=df_16['Trust (Government Corruption)']
df16[Features[6]]=df_16['Generosity']
df16['Score']=df_16['Happiness Score']
df16.head()

,Country,Economy,Healthy,Social,Freedom,Corruption,Generosity,Score
0,Denmark,1.44178,0.79504,1.16374,0.57941,0.44453,0.36171,7.526
1,Switzerland,1.52733,0.86303,1.14524,0.58557,0.41203,0.28083,7.509
2,Iceland,1.42666,0.86733,1.18326,0.56624,0.14975,0.47678,7.501
3,Norway,1.57744,0.79579,1.12690,0.59609,0.35776,0.37895,7.498
4,Finland,1.40598,0.81091,1.13464,0.57104,0.41004,0.25492,7.413

In [13]:
df17=pd.DataFrame()
df17[Features[0]]=df_17['Country']
df17[Features[1]]=df_17['Economy..GDP.per.Capita.']
df17[Features[2]]=df_17['Health..Life.Expectancy.']
df17[Features[3]]=df_17['Family']
df17[Features[4]]=df_17['Freedom']
df17[Features[5]]=df_17['Trust..Government.Corruption.']
df17[Features[6]]=df_17['Generosity']
df17['Score']=df_17['Happiness.Score']
df17.head()

,Country,Economy,Healthy,Social,Freedom,Corruption,Generosity,Score
0,Norway,1.616463,0.796667,1.533524,0.635423,0.315964,0.362012,7.537
1,Denmark,1.482383,0.792566,1.551122,0.626007,0.400770,0.355280,7.522
2,Iceland,1.480633,0.833552,1.610574,0.627163,0.153527,0.475540,7.504
3,Switzerland,1.564980,0.858131,1.516912,0.620071,0.367007,0.290549,7.494
4,Finland,1.443572,0.809158,1.540247,0.617951,0.382612,0.245483,7.469

In [14]:
df18=pd.DataFrame()
df18[Features[0]]=df_18['Country or region']
df18[Features[1]]=df_18['GDP per capita']
df18[Features[2]]=df_18['Healthy life expectancy']
df18[Features[3]]=df_18['Social support']
df18[Features[4]]=df_18['Freedom to make life choices']
df18[Features[5]]=df_18['Perceptions of corruption']
df18[Features[6]]=df_18['Generosity']
df18['Score']=df_18['Score']
df18.head()

,Country,Economy,Healthy,Social,Freedom,Corruption,Generosity,Score
0,Finland,1.305,0.874,1.592,0.681,0.393,0.202,7.632
1,Norway,1.456,0.861,1.582,0.686,0.340,0.286,7.594
2,Denmark,1.351,0.868,1.590,0.683,0.408,0.284,7.555
3,Iceland,1.343,0.914,1.644,0.677,0.138,0.353,7.495
4,Switzerland,1.420,0.927,1.549,0.660,0.357,0.256,7.487

In [15]:
df19=pd.DataFrame()
df19[Features[0]]=df_19['Country or region']
df19[Features[1]]=df_19['GDP per capita']
df19[Features[2]]=df_19['Healthy life expectancy']
df19[Features[3]]=df_19['Social support']
df19[Features[4]]=df_19['Freedom to make life choices']
df19[Features[5]]=df_19['Perceptions of corruption']
df19[Features[6]]=df_19['Generosity']
df19['Score']=df_19['Score']
df19.head()

,Country,Economy,Healthy,Social,Freedom,Corruption,Generosity,Score
0,Finland,1.340,0.986,1.587,0.596,0.393,0.153,7.769
1,Denmark,1.383,0.996,1.573,0.592,0.410,0.252,7.600
2,Norway,1.488,1.028,1.582,0.603,0.341,0.271,7.554
3,Iceland,1.380,1.026,1.624,0.591,0.118,0.354,7.494
4,Netherlands,1.396,0.999,1.522,0.557,0.298,0.322,7.488

In [16]:
df_20.columns

Index(['Country name', 'Regional indicator', 'Ladder score',
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')

In [17]:
df20=pd.DataFrame()
df20[Features[0]]=df_20['Country name']
df20[Features[1]]=df_20['Explained by: Log GDP per capita']
df20[Features[2]]=df_20['Explained by: Healthy life expectancy']
df20[Features[3]]=df_20['Explained by: Social support']
df20[Features[4]]=df_20['Explained by: Freedom to make life choices']
df20[Features[5]]=df_20['Explained by: Perceptions of corruption']
df20[Features[6]]=df_20['Explained by: Generosity']
df20['Score']=df_20['Ladder score']
df20.head()

,Country,Economy,Healthy,Social,Freedom,Corruption,Generosity,Score
0,Finland,1.285190,0.961271,1.499526,0.662317,0.477857,0.159670,7.8087
1,Denmark,1.326949,0.979333,1.503449,0.665040,0.495260,0.242793,7.6456
2,Switzerland,1.390774,1.040533,1.472403,0.628954,0.407946,0.269056,7.5599
3,Iceland,1.326502,1.000843,1.547567,0.661981,0.144541,0.362330,7.5045
4,Norway,1.424207,1.008072,1.495173,0.670201,0.434101,0.287985,7.4880

In [20]:
df_list_clean=[df15, df16, df17, df18, df19, df20]

In [21]:
for i in range(len(df_list_clean)):
    year=i+2015
    df_list_clean[i].to_csv(f'./data/{year}.csv')

In [22]:
df15y=df15
df15y['Year']=2015
df16y=df16
df16y['Year']=2016
df17y=df17
df17y['Year']=2017
df18y=df18
df18y['Year']=2018
df19y=df19
df19y['Year']=2019
df20y=df20
df20y['Year']=2020

In [23]:
DFy=df15y.merge(df16y, how='outer')  
DFy=DFy.merge(df17y, how='outer')  
DFy=DFy.merge(df18y, how='outer')
DFy=DFy.merge(df19y, how='outer')  
DFy=DFy.merge(df20y, how='outer')

In [24]:
DFy.sort_values('Score', ascending=False, inplace=True)
DFy.to_csv(f'./data/all_data_in_one+years.csv')